body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 94vh;
    background-color: #FFC107;
    padding: 20px;
    display: flex;
    border-radius: 31px;
    flex-direction: column;
    align-items: center;
}

.user-info {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
    background-color: #fff;
    color: #000000;
    
}

.create-post-btn {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sign-out-btn {
    margin-top: 400px;
    background: #FFC107;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.logo__text {
    font-size: 30px;
    font-weight: 400;
    color: #000000;
}

.main-content {
    width: 80%;
    padding: 20px;
}

h1 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #FFC107;
    border: none;
    cursor: pointer;
}
